html{
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   background-color: #c4c4c4;
   height: 54rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-box {
   border: 2px solid black;
   width: 40%;
   height: 40%;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.login-box p {
   font-size: 30px;
   margin-top: 10px;
}

.login-chat-area {
   border-radius: 20px;
   border: 2px solid black;
   flex: 1;
   width: 90%;
}

.login-text-area {
   height: 20%;
   width: 90%;
   border-radius: 20px;
   margin: 10px 0px 10px 0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   justify-content: center;
}

.login-text-area input {
   width: 60%;
   border: 1px solid black;
   border-radius: 10px;
   outline: none;
   text-align: center;
}

.login-text-area button {
   width:  6%;
   border-radius: 10px;
   border: 1px solid black;
   outline: none;
}
