html{
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   background-color: #c4c4c4;
   height: 54rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: scroll;
}

.messageBox {
   padding-bottom: 30px;
   width: 95%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   flex-shrink: 0;
}

#messages {
   flex: 1;
   margin: 10px;
   height: 100%;
   width: 50%;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   scrollbar-width: none;
   -ms-overflow-style: none;
}

.messageBox input {
   width: 30%;
   height: 30px;
   border: 1px solid black;
   border-radius: 8px;
   outline: none;
   padding-left: 10px;
}

.messageBox button {
   width: 10%;
   height: 34px;
   border: 1px solid black;
   border-radius: 8px;
   outline: none;
}

.client-message {
   background-color: green;
   color: white;
   border-radius: 0px 10px 10px 10px;
   display: flex;
   width: auto;
   margin-right: 10px;
   max-width: 50%;
   padding: 10px 40px 10px 20px;
   align-self: flex-end;
}

.server-message {
   background-color: grey;
   color: white;
   border-radius:10px 0px 10px 10px;
   display: flex;
   margin-left: 10px;
   width: auto;
   max-width: 50%;
   padding: 10px 20px 10px 40px;
   align-self: flex-start;
}
